extends layout.pug

block content
  .container
    div.grid(data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200}')
      div.grid-item
        img#like(ng-src="http://redsgn.co/wp-content/uploads/2015/11/1189-new-name-and-icon-for-Twitter-like-after.jpg", ng-click="lopCtrl.like(lop)")
      div.grid-item
        img#like(ng-src="http://redsgn.co/wp-content/uploads/2015/11/1189-new-name-and-icon-for-Twitter-like-after.jpg", ng-click="lopCtrl.like(lop)")
      div.grid-item
        img#like(ng-src="http://redsgn.co/wp-content/uploads/2015/11/1189-new-name-and-icon-for-Twitter-like-after.jpg", ng-click="lopCtrl.like(lop)")
      div.grid-item
        img#like(ng-src="http://redsgn.co/wp-content/uploads/2015/11/1189-new-name-and-icon-for-Twitter-like-after.jpg", ng-click="lopCtrl.like(lop)")
      div.grid-item
        img#like(ng-src="http://redsgn.co/wp-content/uploads/2015/11/1189-new-name-and-icon-for-Twitter-like-after.jpg", ng-click="lopCtrl.like(lop)")
      div.grid-item
        img#like(ng-src="http://redsgn.co/wp-content/uploads/2015/11/1189-new-name-and-icon-for-Twitter-like-after.jpg", ng-click="lopCtrl.like(lop)")
      div.grid-item
        img#like(ng-src="http://redsgn.co/wp-content/uploads/2015/11/1189-new-name-and-icon-for-Twitter-like-after.jpg", ng-click="lopCtrl.like(lop)")
      div.grid-item
        img#like(ng-src="http://redsgn.co/wp-content/uploads/2015/11/1189-new-name-and-icon-for-Twitter-like-after.jpg", ng-click="lopCtrl.like(lop)")
      div.grid-item
        img#like(ng-src="http://redsgn.co/wp-content/uploads/2015/11/1189-new-name-and-icon-for-Twitter-like-after.jpg", ng-click="lopCtrl.like(lop)")
      div.grid-item
        img#like(ng-src="http://redsgn.co/wp-content/uploads/2015/11/1189-new-name-and-icon-for-Twitter-like-after.jpg", ng-click="lopCtrl.like(lop)")
      div.grid-item
        img#like(ng-src="http://redsgn.co/wp-content/uploads/2015/11/1189-new-name-and-icon-for-Twitter-like-after.jpg", ng-click="lopCtrl.like(lop)")
      div.grid-item
        img#like(ng-src="http://redsgn.co/wp-content/uploads/2015/11/1189-new-name-and-icon-for-Twitter-like-after.jpg", ng-click="lopCtrl.like(lop)")
      div.grid-item
        img#like(ng-src="http://redsgn.co/wp-content/uploads/2015/11/1189-new-name-and-icon-for-Twitter-like-after.jpg", ng-click="lopCtrl.like(lop)")
      div.grid-item
        img#like(ng-src="http://redsgn.co/wp-content/uploads/2015/11/1189-new-name-and-icon-for-Twitter-like-after.jpg", ng-click="lopCtrl.like(lop)")
  //    div.grid-item(ng-repeat="lop in lopCtrl.lops")
  //      div.lop
  //        div#pic
  //          img.center-block(ng-src="{{lop.imagesrc}}")
  //            p {{lop.descr}}
  //          div#user
  //            img#userpic(ng-src="{{lop.userpic}}")
  //            a 
  //              img#like(ng-src="http://redsgn.co/wp-content/uploads/2015/11/1189-new-name-and-icon-for-Twitter-like-after.jpg", ng-click="lopCtrl.like(lop)")
  //              |  {{lop.likes}}

  footer
    br
    br
    br
    p Running on Node.js with Express, MongoDB, Jade, Stylus and AngularJS
    p Inspired by Flavio Ferreira
  
  
